/* Login.css */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-content {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-top: 50px;
}

.logo-section {
  text-align: center;
  margin-bottom: 20px;
}

.maersk-logo {
  width: 150px;
}

.login-section {
  text-align: center;
}

.user-type-selection {
  margin-bottom: 20px;
}

.user-type-buttons {
  margin-bottom: 20px;
}

.login-form {
  margin-top: 20px;
}

.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}

.ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.ant-input,
.ant-input-password {
  margin-bottom: 10px;
}

.ant-input::placeholder,
.ant-input-password::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.ant-notification-notice {
  background-color: #ff4d4f;
  color: white;
  border-radius: 4px;
}

/* Login.css */

/* Styling for the text element with the prompt "Who are you?" */


.prompt-text {
  text-align: center;
  color: #333;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0; /* Existing margin for top and bottom */
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.user-type-selection {
  text-align: center;
  margin-bottom: 30px; /* Add this line to ensure space after the prompt-text */
}




